{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "arrow-parens": 0,
    "class-methods-use-this": 0,
    "symbol-description": 0,
    "no-unused-vars": [2, { "varsIgnorePattern": "^_+$" }],
    "no-unused-expressions": 0,
    "import/no-extraneous-dependencies": 0,
    "no-confusing-arrow": 0,
    "no-else-return": 0,
    "react/sort-comp": 0,
    "react/jsx-filename-extension": 0,
    "quotes": ["error", "double"],
    'jsx-a11y/anchor-is-valid': 0
  },
  "env": {
    "jest": true,
    "browser": "true"
  },
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true,
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  }
}
